.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
.idea/
*iml
*.iml
*/build
fastlane
/captures
app/release/app-release.apk
app/release/output.json
app/fabric.properties
app/debug/output.json
app/debug/app-debug.apk
